@charset "utf-8";
/* contentWrapper -----------*/
.contantWrapper {
    height: 1600px;
    position: relative;
}
/* 비주얼 영역-------------------------------------------------- */
#bigLogo {
    text-align: center;
}
#bigLogo>img {
    position: relative;
    width: 500px;
}
/* 회원가입 영역-------------------------------------------------- */
.memberJoin {
    margin: 0 auto;
    width: 500px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 20px;
    color: #fff;
}
.memberJoin h2 {
    text-align: center;
    letter-spacing: 5px;
    font-size: 2em;
    margin: 0;
    margin-bottom: 10px;
    font-weight: normal;
}
#joinForm fieldset{
    border: 2px solid #6667ab;
    border-radius: 10px;
}
.memberJoin p {
    text-align: center;
}
.memberJoin p > label {
    display: inline-block;
    width: 10px;
    height: 12px;
    text-indent: 10px; /*들여쓰기*/
    white-space: nowrap; /*줄바꿈*/
    font-size: 1.3em;
}
.memberJoin p > input {
    margin-left: 90px;
}
.memberJoin .btnJoinArea {
    text-align: center;
}
.memberJoin .btnJoinArea > button {
    padding: 5px 12px;
    margin: 10px 7px 5px 7px ;
    font-size: 1.3em;
}
.memberJoin .btnJoinArea > button:hover {
    background: linear-gradient(to bottom, #6667ab 0%, #fff 100%);
    border-radius: 4px;
}
/* 슬로건 영역 ----------------------------------------------- */
.welcome {
    text-align: center;
    margin-top: 100px;
}
.welcome p {
    font-size: 3em;
    text-shadow: 2px 2px 3px rgb(71, 51, 127);
    font-family: 'Lobster';
}
